@import url("https://fonts.googleapis.com/css?family=Indie+Flower&display=swap");
html, body {
  width: 200%;
  height: 100%;
  margin: 0;
  padding: 0;
  position: relative;
}

body {
  position: relative;
  background-color: #fcf6ba;
  box-sizing: border-box;
  border-top: solid 30px #116584;
  border-bottom: solid 30px #116584;
  overflow: hidden;
}

.Top {
  position: absolute;
  height: 350px;
  width: 350px;
  background-color: #3e6e7f;
  color: #ffffff;
  border-radius: 30px 30px 225px 30px;
  margin-top: -100px;
  margin-left: -75px;
  font-family: 'Indie Flower', cursive;
}
.Top h3 {
  margin-left: 100px;
  margin-top: 100px;
  font-size: 50px;
  width: 150px;
  line-height: 100px;
}
.Top h3 span {
  font-size: 100px;
}

@keyframes title {
  0% {
    margin-top: -200px;
    margin-left: -300px;
  }
  50% {
    margin-top: -75px;
    margin-left: -50px;
  }
  100% {
    margin-top: -100px;
    margin-left: -75px;
  }
}
.Top {
  animation-name: title;
  animation-duration: 0.5s;
}

.screen {
  width: 100%;
  height: 100%;
  left: 100%;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #41e4a8;
}

.container {
  position: relative;
  margin: 8em;
  margin-left: 250px;
  width: 250px;
  height: 300px;
  background-color: #41e4a8;
}

.left, .right {
  position: absolute;
  top: 50%;
  left: 200%;
  width: 500px;
  height: 350px;
}
.left:before, .right:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  width: 215px;
  height: 270px;
  border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
  box-shadow: 0 10px 0 #41ABE4;
}

.left {
  transform: translate(-90%, -50%);
}

.right {
  transform: translate(-10%, -50%);
}

.yolk {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) translatey(40px);
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background-color: #ffee00;
}
.yolk:before {
  content: '';
  position: absolute;
  width: 120px;
  height: 120px;
  border-radius: 40%;
  transform: translate(20px, -20px);
  box-shadow: -20px 20px 0 rgba(0, 0, 0, 0.05);
}

.hole {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) translatey(40px);
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background-color: #ede3e3;
}
.hole:before {
  content: '';
  position: absolute;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  transform: translate(-18px, 18px);
  box-shadow: 18px -18px 0 rgba(0, 0, 0, 0.05);
}

.face {
  position: absolute;
  background-color: transparent;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  left: 50%;
  transform: translate(-50%, 100px);
  box-shadow: -30px 0 0 black, 30px 0 0 black;
}
.face:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: transparent;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  box-shadow: -27px -3px 0 white, 33px -3px 0 white;
}
.face:after {
  content: '';
  position: absolute;
  border: solid 3px black;
  border-top-color: transparent;
  border-right-color: transparent;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) translatey(10px) rotate(-45deg);
}

.left .limbs .hands {
  z-index: -1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.left .limbs .hands:after {
  position: absolute;
  content: '';
  width: 20px;
  height: 40px;
  border-radius: 3em;
  background-color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) translatex(-110px) rotate(45deg);
  box-shadow: 15px 15px 0 #41e4a8;
  animation-name: lefthand1;
}
.left .limbs .hands:before {
  position: absolute;
  content: '';
  width: 20px;
  height: 40px;
  border-radius: 3em;
  background-color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) translatex(100px) rotate(-45deg);
  box-shadow: -14px 14px 0 #41e4a8;
  animation-name: lefthand2;
}
.left .limbs .legs {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.left .limbs .legs:after {
  content: '';
  position: absolute;
  width: 20px;
  height: 30px;
  background-color: white;
  border-radius: 5em;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) translate(-50px, 130px) rotate(-20deg);
  box-shadow: 5px 25px 0 #41e4a8;
  animation-name: leftleg1;
}
.left .limbs .legs:before {
  content: '';
  position: absolute;
  width: 20px;
  height: 30px;
  background-color: white;
  border-radius: 5em;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) translate(50px, 130px) rotate(20deg);
  box-shadow: -5px 25px 0 #41e4a8;
  animation-name: leftleg2;
}

.right .limbs .hands {
  z-index: -1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.right .limbs .hands:after {
  position: absolute;
  content: '';
  width: 15px;
  height: 40px;
  border-radius: 3em;
  background-color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) translatex(-110px) rotate(-45deg);
  box-shadow: -14px 14px 0 #41e4a8;
  animation-name: righthand1;
}
.right .limbs .hands:before {
  position: absolute;
  content: '';
  width: 15px;
  height: 40px;
  border-radius: 3em;
  background-color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) translatex(110px) rotate(45deg);
  box-shadow: 14px 14px 0 #41e4a8;
  animation-name: righthand2;
}
.right .limbs .legs {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.right .limbs .legs:after {
  content: '';
  position: absolute;
  width: 15px;
  height: 30px;
  background-color: white;
  border-radius: 5em;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) translate(-50px, 130px) rotate(20deg);
  box-shadow: 15px 13px 0 #41e4a8;
  animation-name: rightleg1;
}
.right .limbs .legs:before {
  content: '';
  position: absolute;
  width: 15px;
  height: 30px;
  background-color: white;
  border-radius: 5em;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) translate(50px, 130px) rotate(-20deg);
  box-shadow: -15px 13px 0 #41e4a8;
  animation-name: rightleg2;
}

.left .limbs .hands:after,
.left .limbs .hands:before,
.right .limbs .hands:after,
.right .limbs .hands:before,
.left .limbs .legs:after,
.left .limbs .legs:before,
.right .limbs .legs:after,
.right .limbs .legs:before {
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
}

@keyframes lefthand1 {
  0%,20%,40%,60%,80%,100% {
    transform: translate(-50%, -50%) translatex(-110px) rotate(45deg);
  }
  10%,30%,50%,70%,90% {
    transform: translate(-50%, -50%) translatex(-110px) rotate(45deg) translate(4px, -4px);
  }
}
@keyframes lefthand2 {
  0%,20%,40%,60%,80%,100% {
    transform: translate(-50%, -50%) translatex(110px) rotate(-45deg);
  }
  10%,30%,50%,70%,90% {
    transform: translate(-50%, -50%) translatex(110px) rotate(-45deg) translate(-4px, -4px);
  }
}
@keyframes righthand1 {
  0%,20%,40%,60%,80%,100% {
    transform: translate(-50%, -50%) translatex(-110px) rotate(-45deg);
  }
  10%,30%,50%,70%,90% {
    transform: translate(-50%, -50%) translatex(-110px) rotate(-45deg) translate(4px, 4px);
  }
}
@keyframes righthand2 {
  0%,20%,40%,60%,80%,100% {
    transform: translate(-50%, -50%) translatex(110px) rotate(45deg);
  }
  10%,30%,50%,70%,90% {
    transform: translate(-50%, -50%) translatex(110px) rotate(45deg) translate(-4px, 4px);
  }
}
@keyframes leftleg1 {
  0%,20%,40%,60%,80%,100% {
    transform: translate(-50%, -50%) translate(-50px, 130px) rotate(-20deg);
  }
  10%,30%,50%,70%,90% {
    transform: translate(-50%, -50%) translate(-50px, 130px) rotate(-20deg) translate(4px, -4px);
  }
}
@keyframes leftleg2 {
  0%,20%,40%,60%,80%,100% {
    transform: translate(-50%, -50%) translate(50px, 130px) rotate(20deg);
  }
  10%,30%,50%,70%,90% {
    transform: translate(-50%, -50%) translate(50px, 130px) rotate(20deg) translate(-4px, -4px);
  }
}
@keyframes rightleg1 {
  0%,20%,40%,60%,80%,100% {
    transform: translate(-50%, -50%) translate(-50px, 130px) rotate(20deg);
  }
  10%,30%,50%,70%,90% {
    transform: translate(-50%, -50%) translate(-50px, 130px) rotate(20deg) translate(4px, 4px);
  }
}
@keyframes rightleg2 {
  0%,20%,40%,60%,80%,100% {
    transform: translate(-50%, -50%) translate(50px, 130px) rotate(-20deg);
  }
  10%,30%,50%,70%,90% {
    transform: translate(-50%, -50%) translate(50px, 130px) rotate(-20deg) translate(-4px, 4px);
  }
}
